


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{

    background-color: white;
}


.item1 img{

    cursor: pointer;

}
body h1{

    text-align: center;
    position: relative;
    top: 50px;
}


.container2{

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 100px;
    flex-wrap: wrap;
}


.item2 p{
text-align: justify;
width: 400px;
height: 400px;
background-color: #F8EFBA;
padding: 14px;
border: 1px solid brown;
word-spacing: 1.5px;
}


.item2 p:hover{
    color: darkviolet;
    cursor: pointer;

}

